{% extends 'admin/base.html' %}
{% load i18n %}

{% block title %}{{ title }} | {{ site_title|default:_('Sakugabot admin') }}{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Sakugabot administration') }}</a>
    </h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block userlinks %}
    {% if site_url %}
        {% if user.is_superuser %}
        <a href="{% url 'bot:log' %}">{% trans 'View log' %}</a> /
        {% endif %}
    {% endif %}
    {% if user.is_active and user.is_staff %}
        {% url 'django-admindocs-docroot' as docsroot %}
        {% if docsroot %}
            <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
        {% endif %}
    {% endif %}
    {% if user.has_usable_password %}
        <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
    {% endif %}
    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
{% endblock %}